/*--------------------------Fontes--------------------------*/
.abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.milonga-regular {
    font-family: "Milonga", serif;
    font-weight: 400;
    font-style: normal;
}

.jura {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/*--------------------------Fontes Cores--------------------------*/
.yellow-text {
  color: #FAC83F !important;
}

.bg-dark-blue {
  background-color: #0E1518;
}

.bg-mountains-dark {
  background: linear-gradient(to bottom, #0E171B, #1b313a);
}


/*--------------------------Config Global--------------------------*/
body {
  min-width: 320px;
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white !important;
  background-color: black !important;
}

h1 {
  font-size: clamp(1em, 1.7em + 1vw, 4em + 1vw) !important;
}

/*Efeito de Ondas*/
.first-wave {
  background-image: url('/imgs/waveEffect/firstWave.svg');
  aspect-ratio: 900/207;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
}

.second-wave {
  background-image: url('/imgs/waveEffect/secondWave.svg');
  aspect-ratio: 900/207;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
}

/*Sub linha de títulos de sessões*/
.horizontal-line-for-tittles {
  width: 155px;
  height: 1px;
  background-color: #ffffff;
  position: relative;
}

/*linha auxiliar amarela*/
.horizontal-line-for-tittles::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  background-color: #FAC83F;
  left: 30%;
}